<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매핑될 DAO 인터페이스 풀네임 -->
<mapper namespace="com.hiworld.client.dao.ClientDAO">

	
	<!-- 회원 정보 수정 -->
	<update id="updateClient">
		UPDATE CLIENT SET
		NAME = #{name},
		TEL = #{tel}
		WHERE ID = #{id}
	</update>
	
	
	
	
	<!--  이름 수정 -->
	<update id="updateName" parameterType="clientVO">
		UPDATE HW_USERLIST SET
		UserName = #{UserName}
		WHERE UserSerial = #{UserSerial}
	</update>
	
	<!-- 이름 조회  -->
	<select id="selectName" resultType="clientVO">
	SELECT * FROM HW_USERLIST
	where UserName = #{UserName}
	</select>
	
	
	<!--  비밀번호 수정 -->
	<update id="updatepw" parameterType="clientVO">
		UPDATE HW_USERLIST SET
		UserPW = #{UserPW}
		WHERE UserSerial = #{UserSerial}
	</update>
	<!-- 비밀번호 조회  -->
	<select id="selectpw" resultType="clientVO">
	SELECT * FROM HW_USERLIST
	where UserPW = #{UserPW}
	</select>
	
	<!--  생일 수정 -->
	<update id="updateBirth" parameterType="clientVO">
		UPDATE HW_USERLIST SET
		UserBirth = #{UserBirth}
		WHERE UserBirth = #{UserBirth}
	</update>
	<!-- 생일수정 조회  -->
	<select id="selectBirth" resultType="clientVO">
	SELECT UserBirth FORM HW_USERLIST
	WHERE UserBirth = #{UserBirth}
	</select>
	
		<!--  연락처 수정 -->
		<update id="updateTel" parameterType="clientVO">
		UPDATE HW_USERLIST SET
		UserTel = #{UserTel}
		WHERE UserTel = #{UserTel}
	</update>
	<!-- 연락처 조회  -->
	<select id="selectTel" resultType="clientVO">
	SELECT UserTel FORM HW_USERLIST
	WHERE UserTel = #{UserTel}
	</select>
	
	
		<!-- 주소 수정  --> 
	<update id="updateAddress" parameterType="clientVO">
		UPDATE HW_USERLIST SET
		UserAddress = #{UserAddress}
		WHERE UserAddress = #{UserAddress}
	</update>
	<!-- 주소 조회  -->
	<select id="selectAddress" resultType="clientVO">
	SELECT UserAddress FORM HW_USERLIST
	WHERE UserAddress = #{UserAddress}
	</select>
	
	
		
	
	
	<!-- ################################### 구현 완료  -->
	<!-- 회원 회원 가입 -->
	<!-- parameterType 값은 자동으로 설정됨? 아마 아닐경우 직접 써주기 -->
	<insert id="insertClient" parameterType="clientVO">
		INSERT INTO HW_USERLIST (UserName,UserID,UserPW,UserGender,UserBirth ,UserTel,UserAddress)
		VALUES(#{UserName},#{UserID},#{UserPW},#{UserGender},#{UserBirth},#{UserTel},#{UserAddress})
	</insert>
	
	<!-- 회원가입시 미니홈피 기본값 등록 -->
	<insert id="insertMiniHP">
		INSERT INTO MiniHP_UserMenu (UserSerial, UserID)
		VALUES(#{UserSerial},#{UserID})
	</insert>
	
	<!-- 아이디 중복 체크 구현 -->
	<select id="idCheck" resultType="int">
		SELECT count(*) FROM HW_USERLIST
		WHERE UserID=#{UserID}
	</select>
	
	<!-- 네이버 회원 확인 -->
	<select id="NaverCheckClient" resultType="sessionVO">
		SELECT UserSerial, UserID, UserName, UserCash, UserBirth, UserTel, UserAddress, UserGender FROM HW_USERLIST WHERE UserID = #{UserID}
	</select>
	
	<!-- 회원 로그인 확인 -->
	<select id="checkClient" resultType="sessionVO">
		SELECT UserSerial, UserID, UserName, UserCash, UserBirth, UserTel, UserAddress, UserGender FROM HW_USERLIST WHERE UserID = #{UserID} AND UserPW = #{UserPW}
	</select>
	
	<!-- 회원 한명 조회 -->
	<select id="getOneClient" resultType="clientVO">
		<!-- #{id}는 dao를 호출할때 VO값을 넣어서 보내면 VO에 선언된 id값을 get해서 가져옴 -->
		SELECT * FROM HW_USERLIST WHERE UserID = #{UserID}		
	</select>
	
	<!-- 밤톨 충전 -->
	<update id="userCash">
		UPDATE HW_USERLIST 
		SET UserCash = #{UserCash}
		WHERE UserID = #{UserID}
	</update>
	
	<!-- PW확인 -->
	<select id="pwCheck" resultType="String">
		SELECT UserPW FROM HW_USERLIST WHERE UserID= #{UserID}
	</select>
	
	<!-- 회원 전체 조회 -->
	<select id="getAllClient" resultType="clientVO">
		SELECT * FROM HW_USERLIST WHERE UserID != 'ADMIN' AND Ban != 1
	</select>
		
	<!-- 로그인시 밴 확인 -->
	<select id="checkBan" resultType="int">
		SELECT Ban FROM HW_USERLIST WHERE UserSerial = #{UserSerial}
	</select>
	
	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ADMIN   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
		<!-- 밴한 회원 전체 조회 -->
	<select id="getAllBanClient" resultType="clientVO">
		SELECT * FROM HW_USERLIST WHERE UserID != 'ADMIN' AND Ban = 1
	</select>
	
	<!-- 밴 -->
	<update id="banClient">
		UPDATE HW_USERLIST SET Ban = 1 WHERE UserSerial = #{UserSerial}
	</update>
	
	<!-- 밴 풀기 -->
	<update id="unBanClient">
		UPDATE HW_USERLIST SET Ban = 0 WHERE UserSerial = #{UserSerial}
	</update>
	
	<!-- 공지사항 업로드 -->
	<insert id="BoardSubmit">
		INSERT INTO HW_Board (userSerial, title, content, lookUp)
		VALUES (#{userSerial},#{title},#{content}, 0)
	</insert>
	
	<!-- 공지사항 가져오기 -->
	<select id="getBoardList" resultType="boardVO">
		SELECT * FROM HW_Board WHERE userSerial = 1 ORDER BY boardSerial DESC
	</select>
	
	<!-- 공지사항 세부정보 -->
	<select id="getBoardOne" resultType="boardVO">
		SELECT * FROM HW_Board WHERE userSerial = 1 AND boardSerial = #{boardSerial}
	</select>

	<!-- 공지사항 댓글 -->
	<select id="getBoardReply" resultType="boardReplyVO">
		SELECT * FROM HW_Board_Reply WHERE boardSerial = #{boardSerial} ORDER BY replySerial DESC
	</select>
	
	<!-- 공지사항 조회 1올리기 -->
	<update id="lookUp">
		UPDATE HW_Board
		SET lookUp = lookUp+1
		WHERE boardSerial = #{boardSerial}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="BoardDelete">
		DELETE FROM HW_Board
		WHERE boardSerial = #{boardSerial}
	</delete>
	
	<!-- 댓글 등록  -->
	<insert id="insertReply" parameterType="boardReplyVO">
		INSERT INTO HW_Board_Reply(userSerial, userName, userID, boardSerial, replyContent)
		VALUES (#{userSerial},#{userName},#{userID},#{boardSerial},#{replyContent})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="ReplyDelete">
		DELETE FROM HW_Board_Reply
		WHERE replySerial = #{replySerial}
	</delete>
	
</mapper>

