<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiworld.minihp.dao.MiniHpNeighborListDAO">
	
	<insert id="insertNeighborList" parameterType="com.hiworld.minihp.vo.MiniHpNeighborListVO">
		INSERT INTO MiniHP_NeighborList
		VALUES (#{senderID}, #{senderName}, #{senderValue}, #{receiverID}, #{receiverName}, #{receiverValue}, #{userMessage}, #{type})
	</insert>
	
	<select id="getRegisterList" parameterType="String" resultType="com.hiworld.minihp.vo.MiniHpNeighborListVO">
		SELECT *
		FROM MiniHP_NeighborList
		WHERE receiverID = #{UserID}
	</select>
	
	<select id="getData" parameterType="String" resultType="com.hiworld.minihp.vo.MiniHpNeighborListVO">
		SELECT *
		FROM MiniHP_NeighborList
		WHERE senderID = #{senderID} AND receiverID = #{receiverID}
	</select>
	
	<delete id="deleteNeighborList">
		DELETE
		FROM MiniHP_NeighborList
		WHERE senderID = #{senderID} AND receiverID = #{receiverID}
	</delete>
</mapper>