@charset "UTF-8";

.MainContainer{
    border: 2px solid #dae1e6;
    width: 1080px;
    margin:0 auto;
    position: relative;
    border-radius: 10px;
    height: 1200px;
    

}

#header{
    
    width: 1080px;
    height: 150px;
}

a{
	color:black;
	text-decoration: none;
	
}

#mainlogo{
	width: 100%;
	float:left;
}

#mainlogo img{
	width: 142px;
    height: 180px;
    display: block;
    float: left;
}


#mainserch{
	float:left;
	margin-top: 55px;
	height: 50px;
	width: 584px;;
	border:1px solid;
	    
}
#mainserch input{
	float:left;
	height: 24px;
	width: 522px;
	font-size:18px;
	letter-spacing:-1px;
	margin:12px 0 10px 10px;
	border:none;
}

#mainserch img{
	width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left:6px;
}
.leftCon{
    margin-top:10px;
    float: left;
    width: 75%;
    height: 800px;
}



.leftCon #bodyContext{
    margin: 20px 20px 20px 0px;
    outline: solid #dae1e6;
    height: 578px;
}

.rightCon{
    margin-top:30px;
    float: right;
    width: 25%;
    height: 800px;
   
  
}
.rightCon #jang {
    height: 10px;
    
}

.rightCon #jang #jang-top{
   margin-top: 40px;
   margin-bottom: 20px;
}

#jang-top div{
	float:left;
	margin-left:40px;
}
#jang-top a{
	float:left;
	margin-left:45px;
}


.rightCon #minimi{
    border: 1px solid #dae1e6;
    float:top;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    background: #f7f9fa;

    
    
}
.rightCon #minimi label{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}

.rightCon #id label{
    margin-right: 15px;
    margin-top: 50px;
}
.rightCon #password label{
    margin-bottom: 30px;
}
.rightCon #minimi #UserID{
    width: 150px;
    height: 18px;
    background-color: #fbfbfb;
    border:1px solid #d4d4d4
    
}
.rightCon #minimi #UserPW{
    width: 150px;
    height:18px;
    background-color: #fbfbfb;
    border:1px solid #d4d4d4;
}

.rightCon #minimi #icon{
    border: 1px solid #dae1e6;
    height: 50%;
    
}
.rightCon #minimi #icon img{
    height: 100%;
    width: 100px;
    float: left;
}
.rightCon  #minihome{
    border: 1px solid #dae1e6;
    height: 50px;
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 15px;
    background:#f7f9fa;
    
}
#minihome hover{
	color:green;	
}

.rightCon #minihome a{
    display: table-cell;
    vertical-align: middle;
    
}
#Nav{
    height: 100%;  
    border: 1px solid #dae1e6;
    border-top:none;
    border-right: 0px;
    margin: auto 0px;
}

#Nav #Navmenu{
    border: 1px solid #dae1e6;
    background:#f7f9fa;
}

#Nav li {
    display: inline-block;
    font-size: 20px;
    font-weight:800;
    color:black;
    height: 202px;
    
	}
	
#Navmenu{
	display: block;
    font-size: 20px;
    font-weight:800;
    color:black;
    height: 20px;
    float: top;
}
#Navli{
	display:inline-block;
	cursor: pointer;
	list-style:none;
}
#Navli li{
	float:left;
	margin-right:80px;
}
#bx_div{
	height: 202px;
	margin-top:20px;
}
#add {
    margin-top: 10px;
    border: 1px solid #dae1e6;
    height: 521px;
    
}

#add img{
	width: 100%;
	height: 100%;
}


#loginCheck{
	width: 80px;
	height:48px;
	border:1px solid #d4d4d4;

}

#loginform{
 	border:1px solid black;
 	width:100%;
}

#formtable{
	margin-top:20px;
	margin-left:15px;
	border-collapse: collapse;
}

#signup{
	float: left;
	border:0px solid #f7f9fa;
	margin-left:15px;
	width:76px;
}
#find-id{
	float:left;
	border:0px solid #f7f9fa;
	width:160px;
}

#naver_id_login{
	margin-top: 40px;
	margin-bottom: 5xp;
}


.bxslider li img{
	width: 100%;
	height: 100%;
}


#nickname{
	margin-top:30px;
	margin-left : 130px;
}

#haveCash{
	margin-top:10px;
	margin-left : 130px;
}
#jang-top div{
	cursor: pointer;
}

