@charset "UTF-8";

.MainContainer{
    border: 2px solid #dae1e6;
    width: 1080px;
    margin:0 auto;
    height: 950px;
    position: relative;
    border-radius: 10px;
    

}

#header{
    
    width: 1080px;
    height: 150px;
}

.leftCon{
    margin-top:10px;
    float: left;
    width: 75%;
    height: 800px;
}
.leftCon #Nav #Navmenu{
    
    
    
    float: top;
}

.leftCon #bodyContext{
    margin: 20px 20px 20px 20px;
    outline: solid #dae1e6;
    height: 650px;
}

.rightCon{
    margin-top:10px;
    float: right;
    width: 25%;
    height: 800px;
  
}
.rightCon #jang {
    height: 10px;
    
}

.rightCon #jang #jang-top{
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   margin-bottom: 20px;
}
.rightCon #jang #jang-bottom{
    display: flex;
    justify-content: space-around;
    
}
.rightCon #minimi{
    border: 1px solid #dae1e6;
    float:top;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background: #f7f9fa;
    
}
.rightCon #minimi label{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}

.rightCon #id label{
    margin-right: 15px;
    margin-top: 50px;
}
.rightCon #password label{
    margin-bottom: 30px;
}
.rightCon #minimi #UserID{
    width: 150px;
    
}
.rightCon #minimi #UserPW{
    width: 150px;
    margin-bottom: 5px;
}

.rightCon #minimi #icon{
    border: 1px solid #dae1e6;
    height: 50%;
    
}
.rightCon #minimi #icon img{
    height: 100%;
    width: 100px;
    float: left;
}
.rightCon  #minihome{
    border: 1px solid #dae1e6;
    height: 50px;
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 10px;
    background:#f7f9fa;
    
}
#minihome hover{
	color:green;	
}

.rightCon #minihome a{
    display: table-cell;
    vertical-align: middle;
    
}
#Nav{
    height: 100%;  
    border: 1px solid #dae1e6;
    border-right: 0px;
    margin: auto 0px;
}

#Nav #Navmenu{
    border: 1px solid #dae1e6;
}

#Nav li {
    display: inline-block;
    font-size: 30px;
    margin-left: 90px;
    height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    
}

#add {
    margin-top: 10px;
    border: 1px solid #dae1e6;
    height: 515px;
}



#loginCheck{
	width: 80px;
	height:30px;
}

#loginform{
 	border:1px solid black;
 	width:100%;
}

#formtable{
	colspacing:0;
}

#formtable tr,td{
	border:1px solid black;
}


