#Context{
	width: 100%;
	height: 100%;
}
#Context table{
	        width: 100%;  
	        text-align: center;
	        margin:auto;
}
#Context table tr, #Context table td{
	        border-bottom: 1px solid black;
	        height: 33px;
			vertical-align: middle;	   
			border-top: 1px solid black;
	        
}
