@charset "UTF-8";
#Context table{
	border-top:1px solid;
	border-bottom:1px solid;
	width: 100%;
	text-align: center;
}
#Context table tr,#Context table td{
	border-top:1px solid;
	border-bottom:1px solid;
	height: 29px;
	vertical-align:middle;
}


#serchQuestion{
	text-align: center;
	margin-bottom:20px;
}

#Context a{
	display:block;
	text-align: center;
	margin-top:10px;
}

#Context table a{
	margin-top:0px;
	text-align: center;
}
#paging{
	text-align: center;
	margin-top:10px;
}
#paging a{
	text-align: center;
	display:inline;
	
}

questionhover:hover{}